.home-text-desc {
    letter-spacing: 0.4 !important;
    line-height: 1.8 !important;
}

.home-card-box-shadow {
    box-shadow: -10px 9px 20px 1px rgb(138 138 138 / 18%) !important;
}

.home-logo-image {
    width: 120px !important;
    display: block !important;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}